body {
  font-family: "Open Sans", sans-serif;
  /* font-family: 'Roboto Condensed', sans-serif;
     font-family: 'Roboto Slab', serif; */
}
/* Main Search Section */
.search-section {
  background-image: url("./assets/shutterstock_42474535.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 378px;
  flex-direction: column;
}
.search-text {
  width: 40%;
}
.search-text h3 {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: normal;
  color: #f3f6f9;
  line-height: 36px;
  text-align: center;
}
.main-searchbar {
  display: flex;
  gap: 5px;
}
.main-search-input {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-style: italic;
  width: 350px;
  height: 35px;
  padding-left: 10px;
}
.main-search-button {
  border: 1px #0074c1;
  background-color: #0074c1;
  display: flex;
  gap: 5px;
  padding: 0px 20px 0px 20px;
}
.main-search-button p {
  color: #f3f6f9;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 13px;
}
.search-icon {
  height: 20px;
  padding-top: 13px;
}
/* Sitemap Section */
.sitemap-section {
  background-color: #e1e5ea;
}
.cards {
  display: flex;
  gap: 50px;
  justify-content:space-evenly;
  /* justify-content: center; */
}
.cards-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 250px;
  width: 250px;
  border: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0 1px 4px 0 #c3c3c3;
}
.cards-icon img {
  height: 100px;
  width: 100px;
  padding-top: 2rem;
}
.cards-text {
  color: #1b3a61;
  font-size: medium;
  font-weight: 900;
  width: 8rem;
  text-align: center;
}
/* Services Section */
.services-section {
  margin-left: 4rem;
  margin-right: 4rem;
}
.title {
  color: #1b3a61;
  font-weight: 900;
  font-size: 30px;
}
.services-block {
  background-color: #1b3a61;
  padding: 5px;
}
.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  column-gap: 17vw;
}
.link {
  color:#0074c1;
  font-weight: bold;
  width: 16vw;
  padding-top: 4vh;
}
/* Updates & Calendar Section */
.updates-calendar-section {
  padding-top: 10px;
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  justify-content: flex-start;
  column-gap: 2vw;
}
.updates-section {
  width: 37vw;
}
.uc-block {
  background-color: #8C6910;
  padding: 2px;
  width: 3vw;
  margin-bottom: 5vh;
}
.generic-text {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0;
}
.published-text {
  display: flex;
  gap: 5px;
  font-size: 13px;
  color: #666666;
}
.grey-tag {
  background-color: #666666;
  color: white;
  padding: 3px;
  border-radius: 3px;
}
.view-more {
border: 1px #0074c1;
background-color: #0074c1;
color: white;
padding: 15px 20px 15px 20px;
margin-left: 4rem;
margin-right: 4rem;
}
.event-container {
  display: flex;
  gap: 30px;
  border-bottom: 1px solid #c3c3c3;
}
.date-box {
  background-color: #8C6910;
  color: white;
  text-align: center;
  width: 60px;
  height: 75px;
  padding: 0px 1px 0px 1px;
}
.month {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 7px;
}
.day {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}
.gold-tag {
  background-color: #D2B859;
  color: #8C6910;
  font-weight: 900;
  font-size: small;
  padding: 3px;
  border-radius: 3px;
  width: fit-content;
}
.detail {
  display: flex;
  gap: 5px;
  padding-top: 8px;
  padding-bottom: 10px;
}
.detail img {
  width: 24px;
  height: 24px;
}
.detail-text {
  margin: 0;
}